@model AntiCorruptionManagementSystem.Models.InquiryWorkProgress

@{
    ViewBag.Title = "Delete";
}

<h2>মুছুন</h2>

<h3>আপনি কি সত্যি মুছতে চান?</h3>
<div>
    <h4>অনুসন্ধান অনুবিভাগের কর্মকর্তাদের কাজের অগ্রগতি</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            প্রধান উইং এর নাম
        </dt>

        <dt>
            সজেকার নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sajekas.Name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Wings.Name)
        </dd>
        <dt>
            অভিযোগকারীর নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accusers.Name)
        </dd>

        <dt>
            কর্মকর্তার নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Name)
        </dd>



 

        <dt>
            ফাইলের নম্বর
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileNumber)
        </dd>

        <dt>
            তদন্ত শুরু করার জন্য পত্র/দায়িত্ব প্রাপ্তির তারিখ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofInquiryOrder)
        </dd>

        <dt>
            অভিযোগের বিবরন
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplainDescription)
        </dd>

        <dt>
            বর্তমান অবস্থা
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStatus)
        </dd>

        <dt>
            মন্তব্য
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            অ্যাকাউন্ট সচল ?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="মুছুন" class="btn btn-default" /> |
            @Html.ActionLink("তালিকায় ফেরা", "Index")
        </div>
    }
</div>
