@model AntiCorruptionManagementSystem.Models.InquiryWorkProgress

@{
    ViewBag.Title = "Details";
}

<h2>বিবরন</h2>

<div>
    <h4>অনুসন্ধান অনুবিভাগের কর্মকর্তাদের কাজের অগ্রগতি</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           প্রধান উইং এর নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wings.Name)
        </dd>

        <dt>
            সজেকার নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sajekas.Name)
        </dd>

        <dt>
            কর্মকর্তার নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Name)
        </dd>

        <dt>
            অভিযোগকারীর নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accusers.Name)
        </dd>

        <dt>
            ফাইলের নম্বর
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileNumber)
        </dd>

        <dt>
            তদন্ত শুরু করার জন্য পত্র/দায়িত্ব প্রাপ্তির তারিখ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofInquiryOrder)
        </dd>

        <dt>
            অভিযোগের বিবরন
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplainDescription)
        </dd>

        <dt>
            বর্তমান অবস্থা (রিট/মিস কেইসের কারনে স্থগিত থাকলে উল্লেখ করুন),সাক্ষীদের সাক্ষ্য গ্রহণ প্রয়োজনীয় রেকর্ডপত্র সংগ্রহ ইত্যাদি ক্ষেত্রে কাজের অগ্রগতির শতকরা(%) হার
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStatus)
        </dd>

        <dt>
            মন্তব্য
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            অ্যাকাউন্ট সচল ?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("সম্পাদন", "Edit", new { id = Model.Sl }) |
    @Html.ActionLink("তালিকায় ফেরা", "Index")
</p>
