@model IEnumerable<AntiCorruptionManagementSystem.Models.InquiryWorkProgress>

@{
    ViewBag.Title = "Index";
}

<h2>অনুসন্ধান অনুবিভাগে কর্মকর্তাদের কাজের অগ্রগতি রিপোর্ট</h2>

<p>
    @Html.ActionLink("নতুন তৈরি করা", "Create")
</p>
<table class="table">
    <tr>
        <th>
            প্রধান উইং এর নাম
        </th>
        <th>
            সজেকার নাম
        </th>
        <th>
            কর্মকর্তার নাম
        </th>
        <th>
            অভিযোগকারীর নাম
        </th>
       
        <th>
            ফাইলের নম্বর
        </th>
        <th>
            তদন্ত শুরু করার জন্য পত্র/দায়িত্ব প্রাপ্তির তারিখ
        </th>
        <th>
            অভিযোগের বিবরন
        </th>
        <th>
            বর্তমান অবস্থা (রিট/মিস কেইসের কারনে স্থগিত থাকলে উল্লেখ করুন),সাক্ষীদের সাক্ষ্য গ্রহণ প্রয়োজনীয় রেকর্ডপত্র সংগ্রহ ইত্যাদি ক্ষেত্রে কাজের অগ্রগতির শতকরা(%) হার
        </th>
        <th>
            মন্তব্য
        </th>
        <th>
            অ্যাকাউন্ট সচল ?
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Wings.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sajekas.Name)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Employees.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Accusers.Name)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.FileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofInquiryOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("সম্পাদন", "Edit", new { id=item.Sl }) |
            @Html.ActionLink("বিবরন", "Details", new { id=item.Sl }) |
            @Html.ActionLink("মুছুন", "Delete", new { id=item.Sl })
        </td>
    </tr>
}

</table>
