@model AntiCorruptionManagementSystem.Models.AccusedPersonInfo

@{
    ViewBag.Title = "Delete";
}

<h2>মুছুন</h2>

<h3>আপনি কি সত্যিই মুছতে চান?</h3>
<div>
    <h4>তদন্তাধীন মামলার আসামীর তথ্য </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            মামলার নম্বর
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cases.CaseNumber)
        </dd>

        <dt>
            কর্মকর্তার নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Name)
        </dd>

        <dt>
           আসামীর নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            পদবী
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            ঠিকানা
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            মামলার তারিখ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofCaseSubmission)
        </dd>

        <dt>
            মামলার সংক্ষিপ্ত বিবরন
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseShortDescription)
        </dd>

        <dt>
            অ্যাকাউন্ট সচল ?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="মুছুন" class="btn btn-default" /> |
            @Html.ActionLink("তালিকায় ফেরা", "Index")
        </div>
    }
</div>
