@model IEnumerable<AntiCorruptionManagementSystem.Models.AccusedPersonInfo>

@{
    ViewBag.Title = "Index";
}

<h2>মামলার বিস্তারিত তথ্যের রিপোর্ট</h2>

<p>
    @Html.ActionLink("নতুন নিবন্ধন", "Create")
</p>
<table class="table">
    <tr>
        <th>
            কর্মকর্তার নাম
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employees.Name)
        </th>
        <th>
            অভিযুক্তের নাম 
        </th>
        <th>
            পদবী
        </th>
        <th>
            ঠিকানা
        </th>
        <th>
            মামলার তারিখ
        </th>
        <th>
            মামলার সংক্ষিপ্ত বিবরণ
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cases.CaseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofCaseSubmission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("সম্পাদন", "Edit", new { id=item.Sl }) |
            @Html.ActionLink("বিস্তারিত", "Details", new { id=item.Sl }) |
            @Html.ActionLink("মুছুন", "Delete", new { id=item.Sl })
        </td>
    </tr>
}

</table>
