@model IEnumerable<AntiCorruptionManagementSystem.Models.InvestigationWorkProgress>

@{
    ViewBag.Title = "Index";
}

<h2>তলিকা</h2>

<p>
    @Html.ActionLink("নতুন তৈরি করুন", "Create")
</p>
<table class="table">
    <tr>
        <th>
            উইং এর নাম
        </th>
        <th>
            সজেকার নাম
        </th>
        <th>
            কর্মকর্তার নাম
        </th>
        <th>
            অভিযোগকারীর নাম 
        </th>
        <th>
           ফাইলের নম্বর
        </th>
        <th>
            তদন্ত শুরুর জন্য পত্র/ দায়িত্ব প্রাপ্তির তারিখ
        </th>
        <th>
            অভিযোগের সংক্ষিপ্ত বিবরণ
        </th>
        <th>
            বর্তমান অবস্থা
        </th>
        <th>
            মন্তব্য
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Wings.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Sajekas.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Employees.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Accusers.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofInvestigateOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("সম্পাদন", "Edit", new { id=item.Sl }) |
            @Html.ActionLink("বিবরণ", "Details", new { id=item.Sl }) |
            @Html.ActionLink("মুছুন", "Delete", new { id=item.Sl })
        </td>
    </tr>
}

</table>
