@{
    ViewBag.Title = "Home Page";
}
<center>
    <h1>
        <img class="img-responsive2" src="Resource/acc_logo.png"> দুর্নীতি দমন কমিশন
    </h1>
</center>
<br />
<div class="content-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row" style="margin-bottom: 10px;">

                <div class="col-md-3 col-sm-5 col-xs-12">

                    <div class="r1_graph1 db_box" style="background:#FFA500">
                        <center>
                            <span class='pull-top' style="font-size:20px; color:white; margin-top:15px"><small>মোট উইং</small></span>
                            <div class="clearfix" style="font-size:20px;color:white; margin-top:15px"> @ViewBag.TotalWing</div>
                        </center>
                    </div>
                    <br />
                    <div class="r1_graph1 db_box" style="background:#000000">
                        <center>
                            <span class='pull-top' style="font-size:20px; color:white; margin-top:15px"><small>মোট অফিসার</small></span>
                            <div class="clearfix" style="font-size:20px;color:white; margin-top:15px"> @ViewBag.TotalEmployee</div>
                        </center>
                    </div>


                </div>
                <div class="col-md-3 col-sm-5 col-xs-12">


                    <div class="r1_graph1 db_box" style="background:Navy">
                        <center>
                            <span class='pull-top' style="font-size:20px; color:white; margin-top:15px"><small>মোট সজেকা </small></span>
                            <div class="clearfix" style="font-size:20px;color:white; margin-top:15px"> @ViewBag.TotalSajeka</div>
                        </center>
                    </div>
                    <br />
                    <div class="r1_graph1 db_box" style="background:#FF0000">
                        <center>
                            <span class='pull-top' style="font-size:20px; color:white; margin-top:15px"><small>মোট অভিযোগকারী</small></span>
                            <div class="clearfix" style="font-size:20px;color:white; margin-top:15px"> @ViewBag.TotalAccuser</div>
                        </center>
                    </div>


                </div>
                <div class="col-md-3 col-sm-5 col-xs-12">



                    <div class="r1_graph3 db_box" style="background:#4682b4">
                        <center>
                            <span class='pull-top' style="font-size:20px;color:white;  margin-top:15px"><small> মোট মামলা</small></span>
                            <div class="clearfix" style="font-size:20px;color:white; margin-top:15px"> @ViewBag.Cases </div>
                        </center>
                    </div>
                    <br />
                    <div class="r1_graph1 db_box" style="background:#800000">
                        <center>
                            <span class='pull-top' style="font-size:20px; color:white; margin-top:15px"><small>মোট আসামী</small></span>
                            <div class="clearfix" style="font-size:20px;color:white; margin-top:15px"> @ViewBag.TotalAccused</div>
                        </center>
                    </div>

                </div>

                <div class="col-md-3 col-sm-5 col-xs-12">


                    <div class="r1_graph2 db_box" style="background:#FF6347">
                        <center>
                            <span class='pull-top' style="font-size:20px; color:white; margin-top:15px"><small>মোট মামলার অভিযোগ </small></span>
                            <div class="clearfix" style="font-size:20px;color:white; margin-top:15px"> @ViewBag.CasesObjection</div>
                        </center>
                    </div>
                    <br />
                    <div class="r1_graph1 db_box" style="background:#228B22">
                        <center>
                            <span class='pull-top' style="font-size:20px; color:white; margin-top:15px"><small>বর্তমান সময় </small></span>
                            <div class="clearfix" style="font-size:20px;color:white; margin-top:15px"> @ViewBag.Time</div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
