@model AntiCorruptionManagementSystem.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
           প্রধান উইং এর নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wings.Name)
        </dd>

        <dt>
            সজেকার নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sajekas.Name)
        </dd>

        <dt>
            কর্মকর্তার নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            পদবী
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            ঠিকানা
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            কর্মকর্তার নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            অ্যাকাউন্ট সচল ?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("সম্পাদন", "Edit", new { id = Model.Sl }) |
    @Html.ActionLink("তালিকায় ফেরা", "Index")
</p>
