@model AntiCorruptionManagementSystem.Models.Case

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Case</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employees.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sajekas.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sajekas.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wings.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wings.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofIOTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofIOTaken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgressDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgressDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sl }) |
    @Html.ActionLink("Back to List", "Index")
</p>
