@model IEnumerable<AntiCorruptionManagementSystem.Models.Case>

@{
    ViewBag.Title = "Index";
}

<h2>মামলার বিস্তারিত তথ্যের রিপোর্ট</h2>

<p>
    @Html.ActionLink("নতুন নিবন্ধন", "Create")
</p>
<table class="table">
    <tr>
        <th>
            কর্মকর্তার নাম
        </th>
        <th>
            সজেকা এর নাম 
        </th>
        <th>
            উইং এর নাম
        </th>
        <th>
            মামলার নম্বর
        </th>
        <th>
            মামলার তারিখ
        </th>
        <th>
            মামলার সংক্ষিপ্ত বিবরণ 
        </th>
        <th>
            আই.ও কর্তৃক মামলা তদন্ত গ্রহনের তারিখ
        </th>
        <th>
            তদন্ত প্রতিবেদনের জমাদানের হালনাগাদ অগ্রগতি
        </th>
        <th>
            মন্তব্য
        </th>
        <th>
            অ্যাকাউন্ট সচল ?
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sajekas.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wings.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofIoTaken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgressDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("সম্পাদন", "Edit", new { id=item.Sl }) |
            @Html.ActionLink("বিস্তারিত", "Details", new { id=item.Sl }) |
            @Html.ActionLink("মুছুন", "Delete", new { id=item.Sl })
        </td>
    </tr>
}

</table>
