@model AntiCorruptionManagementSystem.Models.CaseObjection

@{
    ViewBag.Title = "মুছুন";
}

<h2>মুছুন</h2>

<h3>আপনি কি সত্যিই মুছতে চান?</h3>
<div>
    <h4>মামলার অভিযোগ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            কর্মকর্তার নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Name)
        </dd>

        <dt>
            উইং এর নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wings.Name)
        </dd>

        <dt>
            ই আর নং
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ERNumber)
        </dd>

        <dt>
            অভিযুক্তের নাম
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            পদবী
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            ঠিকানা 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            অভিযোগের তারিখ 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofObjection)
        </dd>

        <dt>
            অভিযোগের সংক্ষিপ্ত বিবরণ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectionDetails)
        </dd>

        <dt>
            প্রধান কার্যালয় হতে অনুসন্ধানের অনুমতি প্রদানের স্মারক নং
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InquiryMemorandumNumber)
        </dd>

        <dt>
            অনুসন্ধানের অনুমতি প্রদানের তারিখ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InquiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="মুছুন" class="btn btn-default" /> |
            @Html.ActionLink("তালিকায় ফেরা", "Index")
        </div>
    }
</div>
