@model IEnumerable<AntiCorruptionManagementSystem.Models.CaseObjection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("নতুন নিবন্ধন", "Create")
</p>
<table class="table">
    <tr>
        <th>
            উইং এর নাম
        </th>
        <th>
            কর্মকর্তার নাম
        </th>

        <th>
           ই আর নং
        </th>
        <th>
           অভিযুক্তের নাম
        </th>
        <th>
           পদবী 
        </th>
        <th>
            ঠিকানা
        </th>
        <th>
           অভিযোগের তারিখ 
        </th>
        <th>
            
        </th>
        <th>
            প্রধান কার্যালয় হতে অনুসন্ধানের অনুমতি প্রদানের স্মারক নং
        </th>
        <th>
            অনুসন্ধানের অনুমতি প্রদানের তারিখ
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Wings.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ERNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofObjection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectionDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InquiryMemorandumNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InquiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("সম্পাদন", "Edit", new { id=item.Sl }) |
            @Html.ActionLink("বিস্তারিত", "Details", new { id=item.Sl }) |
            @Html.ActionLink("মুছুন", "Delete", new { id=item.Sl })
        </td>
    </tr>
}

</table>
